@use "variables";

.about {
	
	$heading-in: .5s;
	$text-in: 1.75s;
	$flag-in: 1.9s;
	
	// &__intro-section {
	// 	background: black;
	// }
	&__intro-section-bg-img {
		.not-in-view & {
			transition: none;
			translate: 0 10%;
			opacity: 0;
		}
		.in-view & {
			opacity: 1;
			translate: 0 0;
			transition: 
				opacity var(--duration--3x-slow) var(--ease--smooth);
		}
	}
	
	&__intro-heading {
		&--top,
		&--bot {
			display: inline-block;
			transition:
				opacity var(--duration--2x-slow) var(--ease--smooth),
				translate var(--duration--2x-slow) var(--ease--smooth);
			transition-delay: $heading-in;
			
			.not-in-view & {
				transition: none;
				opacity: 0;
				translate: 0 100%;
			}
			.in-view & {
				opacity: 1;
				translate: 0 0;
			}
		}
		&--bot {
			transition-delay: $heading-in + .15s;
		}
	}
	
	&__intro-text {
		transition:
			opacity var(--duration--2x-slow) var(--ease--smooth),
			translate var(--duration--2x-slow) var(--ease--smooth);
		transition-delay: $text-in;
		
		.not-in-view & {
			transition: none;
			opacity: 0;
			translate: 0 30%;
		}
		.in-view & {
			opacity: 1;
			translate: 0 0;
		}
	}
	
	&__flag-icon {
		
		$stripes-in: $flag-in + .027s;
		
		display: block;
		transition: translate var(--duration--2x-slow) var(--ease--smooth);
		transition-delay: $flag-in;
		
		.not-in-view & {
			transition: none;
			translate: 0 100%;
		}
		.in-view & {
			translate: 0 0;
		}
		
		&--box,
		&--stripe {
			--flag-timing: calc(var(--duration--slow) * 1.1);
			transition: scale var(--flag-timing) var(--ease--smooth);
			transition-delay: $flag-in;
			transform-box: fill-box;
			.not-in-view & {
				scale: 0 1;
				transition: none;
			}
			.in-view & {
				scale: 1 1;
			}	
		}
		
		@for $i from 1 through 4 {
			&--stripe-0#{$i} {
				transition-delay: $stripes-in + $i * 0.05s;
			}
		}
		
		&--stripe-01,
		&--stripe-02 {
			transition-duration: calc(var(--flag-timing) * .7);
		}
	}
	
	
	
	&__rods-group-divider-line {
		transition: scale var(--duration--2x-slow) var(--ease--smooth);
		transform-origin: center center;
		transition-delay: 1s;
		
		.not-in-view & {
			scale: 0 1;
			transition: none;
		}
		.in-view & {
			scale: 1 1;
		}
	}
}