@use "variables";

.about {
	
	$heading-in: .5s;
	$text-in: 1.75s;
	$flag-in: 1.9s;
	
	// &__intro-section {
	// 	background: black;
	// }
	&__intro-section-bg-img {
		display: block;
		.not-in-view & {
			transition: none;
			translate: 0 10%;
			opacity: 0;
		}
		.in-view & {
			opacity: 1;
			translate: 0 0;
			transition: 
				opacity var(--duration--3x-slow) var(--ease--smooth);
		}
	}
	
	&__intro-heading {
		&--top,
		&--bot {
			display: inline-block;
			transition:
				opacity var(--duration--2x-slow) var(--ease--smooth),
				translate var(--duration--2x-slow) var(--ease--smooth);
			transition-delay: $heading-in;
			
			.not-in-view & {
				transition: none;
				opacity: 0;
				translate: 0 100%;
			}
			.in-view & {
				opacity: 1;
				translate: 0 0;
			}
		}
		&--bot {
			transition-delay: $heading-in + .15s;
		}
	}
	
	&__intro-text {
		transition:
			opacity var(--duration--2x-slow) var(--ease--smooth),
			translate var(--duration--2x-slow) var(--ease--smooth);
		transition-delay: $text-in;
		
		.not-in-view & {
			transition: none;
			opacity: 0;
			translate: 0 30%;
		}
		.in-view & {
			opacity: 1;
			translate: 0 0;
		}
	}
	
	
	&__rods-group-divider-line {
		transition: scale var(--duration--2x-slow) var(--ease--smooth);
		transform-origin: center center;
		transition-delay: 1s;
		
		.not-in-view & {
			scale: 0 1;
			transition: none;
		}
		.in-view & {
			scale: 1 1;
		}
	}
	
	
	&__team-heading {
		
		--mask-direction: to bottom; 
		--mask-size: 200%;
		
		mask-repeat: no-repeat;
		mask-size: 100% var(--mask-size);
		
		mask-image: linear-gradient(var(--mask-direction), #000 50%, transparent 100%);
		transition: mask-position 8s var(--ease--smooth);
		
		.not-in-view & {
			mask-position: 0 200%;
			transition: none;
		}
		.in-view & {
			mask-position: 0 0;
		}
	}
	&__team-heading-line {
		transition: scale var(--duration--2x-slow) var(--ease--smooth);
		transform-origin: left;
		transition-delay: 1s;
		
		&:last-of-type {
			transition-delay: 1.5s;
		}
		.not-in-view & {
			scale: 0 1;
			transition: none;
		}
		.in-view & {
			scale: 1 1;
		}
	}	
}


.about__team-list-item {
	--idx: 0;
	--item-stagger: .75s;
	--base-delay: calc(var(--idx) * var(--item-stagger) + .5s);
	
	color: var(--idx);
	@for $i from 0 through 10 {
		&:nth-child(#{$i}) {
			--idx: #{$i};
		}
	}
}


.team-member {
	
	&__name-title-wrapper,
	&__email {
		transition:
			opacity var(--duration--2x-slow) var(--ease--smooth),
			translate var(--duration--2x-slow) var(--ease--smooth);
			
		transition-delay: var(--base-delay);
		
		.not-in-view & {
			transition: none;
			opacity: 0;
			translate: 0 15%;
		}
		.in-view & {
			opacity: 1;
			translate: 0 0;
		}
	}
	
	&__email {
		transition-delay: calc(var(--base-delay) + .15s);
	}
	
	
	&__paragraph {
		--mask-direction: to bottom; 
		--mask-size: 200%;
		
		mask-repeat: no-repeat;
		mask-size: 100% var(--mask-size);
		
		mask-image: linear-gradient(var(--mask-direction), #000 50%, transparent 100%);
		transition: mask-position 6s var(--ease--smooth);
		
		transition-delay: calc(var(--base-delay) + .25s);
		
		
		.not-in-view & {
			mask-position: 0 200%;
			transition: none;
		}
		.in-view & {
			mask-position: 0 0;
		}
	}
}


