@use "variables";

// Stealth Rod Co — Webflow CSS entry

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



[data-applied-fixed-content-styles="light-on-dark"] {
	--color--fixed-content--primary: white;
}

[data-applied-fixed-content-styles="dark-on-light"] {
	--color--fixed-content--primary: black;
}

[data-applied-fixed-content-styles="hp-hero--dark-on-light"] {
	--color--fixed-content--primary: black;
}


html, body {
	// height: 100%;
	// overflow: hidden;
}

#smooth-wrapper {
	height: 100% !important;
	/* or if you need viewport-filling behavior: */
	height: 100dvh !important; /* dvh = dynamic viewport height, better Safari support */
	overflow: hidden !important;
}

body.no-scroll {
	overflow: hidden;
}


svg:not(:root) {
	overflow: visible;
}


.global__section-divider-line {
	transition: scale var(--duration--2x-slow) var(--ease--smooth);
	transition-delay: .5s;
	transform-origin: center;
	
	&.not-in-view {
		transition: none;
		scale: 0 1;
	}
	&.in-view {
		scale: 1 1;
	}
}

.global__button {
	position: relative;
	// background-color: transparent;
	z-index: 2;
	background: transparent;
	// transition: all var(--duration--2x-slow) var(--ease--smooth);
	
	&:before {
		content: '';
		background: var(--_color-palette---primary-red);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%; 
		height: 100%;
		z-index: -1;
		scale: 0 1;
		transition: scale .4s ease-in-out;
		transform-origin: left;
	}
	
	&:hover, &:focus-visible {
		background: transparent;
		&:before {
			scale: 1 1;
		}
	}	
}