@use "variables";


$debug: false;

.about__intro {

	@if $debug {
		outline: 2px solid color-mix(in srgb, red 10%, transparent);
	}

	&-text-content {

		@if $debug {
			outline: 2px solid color-mix(in srgb, blue 10%, transparent);
		}
	}

	// the wrapper for all the floating images
	&-floating-imgs {
		@if $debug {
			outline: 10px solid color-mix(in srgb, limegreen 10%, transparent);
		}

		padding-top: 100vh;
		padding-bottom: 125vh;
		isolation: isolate;
	}

	&-heading {
		
		&--40,
		&--years,
		&--lake {
			transition: 
				transform var(--duration--2x-slow) var(--ease--smooth),
				opacity var(--duration--2x-slow) var(--ease--smooth),
				scale var(--duration--2x-slow) var(--ease--smooth);
			
		}
		
		&--40 {
			.not-in-view & {
				translate: 0 100%;
				opacity: 0;
				scale: .8;
			}
			.in-view & {
				translate: 0 0;
				opacity: 1;
				scale: 1;
			}
		}
		&--years,
		&--lake {
			transition-delay: .15s;
			.not-in-view & {
				translate: 0 100%;
				opacity: 0;
				scale: .8;
			}
			.in-view & {
				translate: 0 0;
				opacity: 1;
				scale: 1;
			}
		}
		&--lake {
			transition-delay: .25s;
			// .not-in-view & {
				
			// }
		}
	}
}



