@use "variables";


$debug: true;

.about__intro {

	@if $debug {
		outline: 2px solid color-mix(in srgb, red 10%, transparent);
	}

	&-text-content {

		@if $debug {
			outline: 3px solid color-mix(in srgb, blue 10%, transparent);
		}
	}

	// the wrapper for all the floating images
	&-floating-imgs {
		@if $debug {
			outline: 2px solid color-mix(in srgb, limegreen 10%, transparent);
		}
		padding-top: 100vh;
		padding-bottom: 100vh;
	}

	&-heading {
		$heading-start-delay: .5s;
		&--40,
		&--years,
		&--lake {
			transition: 
				translate var(--duration--2x-slow) var(--ease--smooth),
				opacity var(--duration--2x-slow) var(--ease--smooth),
				scale var(--duration--2x-slow) var(--ease--smooth);
		}
		
		&--40 {
			transition-delay: $heading-start-delay + .1s;
			.not-in-view & {
				translate: 0 10%;
				opacity: 0;
				scale: .8;
		
			}
			.in-view & {
				translate: 0 0;
				opacity: 1;
				scale: 1;
			}
		}
		&--years,
		&--lake {
			
			transition-delay: $heading-start-delay + .35s;
			.not-in-view & {
				translate: 0 100%;
				opacity: 0;
				scale: .8;
			}
			.in-view & {
				translate: 0 0;
				opacity: 1;
				scale: 1;
			}
		}
		&--lake {
			transition-delay: $heading-start-delay + .45s;
		}
	}
	
	
	&-bg-img-container {
		
		transition: 
			opacity var(--duration--reg) ease-in-out;
		transition-delay: .5s;
		
		.not-in-view & {
			opacity: .5;
		}
		.in-view & {
			opacity: 1;
		}
	}
	&-bg-img {
		@media (width >= 767px) {
			animation-name: waterImgScale;
			animation-duration: 10s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			transform-origin: left top;
			.not-in-view & {
				animation-play-state: paused;
			}
			.in-view & {
				animation-play-state: running;
			}
		}
	}
}





@keyframes waterImgScale {
	0%, 100% 
	{
		scale: 1;
	}
	50% { scale: 1.2 }
}