@use "variables";

.global__highlight-circle {
	
	--display-mq: "(min-width: 480px)";
	
	// --tX: 0;
	// --tY: 0;
	translate: var(--tX) var(--tY);
	display: block;
}


.home__section-content .global__highlight-circle {
	
	display: none;
	
	@media (width >= 480px) {
		display: block;
		transition: opacity 3s ease-in-out;
		transition-delay: 1.25s;
		position: relative;
		mix-blend-mode: overlay;
		
		.home__intro-section.not-in-view & {
			transition: none;
			opacity: 0;
		}
		.home__intro-section.in-view & {
			opacity: 1;	
		}
	}
}

.our-rods__features-bg-img-container .global__highlight-circle {
	display: none;
	
	@media (width >= 480px) {
		display: block;
		transition: opacity 3s ease-in-out;
		transition-delay: 1.25s;
		position: relative;
		// background: blue;
		// mix-blend-mode: screen;
		
		.our-rods__features-section.not-in-view & {
			transition: none;
			opacity: 0;
		}
		.our-rods__features-section.in-view & {
			opacity: 1;	
		}
	}
}

