@use "variables";


.global {
	
	&__quote-text {
		
		--mask-direction: to bottom; 
		--mask-size: 400%;
		
		mask-repeat: no-repeat;
		mask-size: 100% var(--mask-size);
		
		mask-image: linear-gradient(var(--mask-direction), #000 50%, transparent 100%);
		transition: mask-position 6s var(--ease--smooth);
		
		.not-in-view & {
			mask-position: 0 200%;
			transition: none;
		}
		.in-view & {
			mask-position: 0 0;
		}
	}
	&__quote-icon {
		transition: 
			translate var(--duration--3x-slow) var(--ease--smooth), 
			opacity var(--duration--3x-slow) var(--ease--smooth),
			scale var(--duration--3x-slow) var(--ease--smooth);
			
		transition-delay: .5s;
		transform-origin: left;
		
		.not-in-view & { 
			transition: none;
			opacity: 0;
			translate: 200% 0;
			scale: .2;
		}
		
		.in-view & {
			opacity: 1;
			translate: 1;
			scale: 1;
		}
	}
	
	&__quote-icon--last {
		transform-origin: right;
		.not-in-view & {
			translate: -200% 0;
		}
	}
	
	&__quote-author,
	&__quote-author-title {
		transition: 
			translate var(--duration--2x-slow) var(--ease--smooth), 
			opacity var(--duration--reg) var(--ease--smooth);
		transition-delay: 1s;
		
		.not-in-view & {
			transition: none;
			translate: 0 120%;
			opacity: 0;
		}
		.in-view & {
			translate: 0 0;
			opacity: 1;
		}
	}
	&__quote-author-title {
		transition-delay: 1.15s;
	}
}





