@use "variables";

.our-rods {
	

	
	&__ftr-img-hover-scale {
		scale: 1;
		transition: scale var(--duration--slow) var(--ease--smooth);
		
		.our-rods__ftr-img-holder:hover &  {
			scale: 1.1;
		}
	}
	
	&__ftr-img {
		--tX: 0;
		--tY: 0;
		
		translate: var(--tX) var(--tY);
		scale: 1.1;
	}
}
