@use "variables";


// - - - Product Cards - - - 
.product-card {
	&__buy-button-holder {
		outline: none;
		max-width: unset !important;
	}
	&__buy-button-holder iframe {
		flex: 1;
		height: 100% !important;
	}
}


.shopify-buy-frame:focus-visible {
	border-radius: 0px !important;
	outline: none !important;
}