@use "variables";


.home__hero-img,
.home__hero-content,
.global__hero-img,
.global__hero-content {
	--tX: 0;
	--tY: 0;
	translate: var(--tX) var(--tY);
}

.home__hero-img,
.global__hero-img {
	scale: 1.1;
}

