@use "variables";


.home__hero-img,
.home__hero-content,
.global__hero-img,
.global__hero-content {
	--tX: 0;
	--tY: 0;
	translate: var(--tX) var(--tY);
}

.home__hero-img,
.global__hero-img {
	scale: 1.1;
}

.global__hero-svg-text-wrapper {
	overflow: visible;
}

.global__hero-subtext {
	animation-name: globalHeroSubText;
	animation-duration: var(--duration--2x-slow);
	animation-timing-function: var(--ease--smooth);
	animation-fill-mode: both;
	animation-delay: 1s;
}


@keyframes globalHeroSubText {
	0% {
		opacity: 0;
		translate: 0 30%;
		letter-spacing: 0.1em;
	}
	50% {
		opacity: 1;
	}
	100% {
		letter-spacing: 0.18em;
	}
}


.home__header-logo {
	
	$start-delay: 1.15s;

	&--stealth,
	&--rod-co
	{
		animation-name: homeLogoMoveIn;
		animation-duration: var(--duration--2x-slow);
		animation-timing-function: var(--ease--smooth);
		animation-fill-mode: both;
		animation-delay: $start-delay;
	}
	
	&--stealth {
		--yMove: 40%;
	}
	
	&--rod-co {
		--yMove: -5%;
		animation-delay: $start-delay + .75s;
	}
	
	&--ala,
	&--usa {
		animation-name: homeLogo_Side_MoveIn;
		animation-duration: var(--duration--2x-slow);
		animation-timing-function: var(--ease--smooth);
		animation-fill-mode: both;
		animation-delay: $start-delay + 1.15s;
	}
	
	&--ala {
		--tX: 3%;
	}
	&--usa {
		--tX: -3%;
	}
	
	&-letter--s,  
	&-letter--t,
	&-letter--e,
	&-letter--a,
	&-letter--l,
	&-letter--t2,
	&-letter--h {
		animation-name: homeLogo_Side_MoveIn;
		animation-duration: var(--duration--2x-slow);
		animation-timing-function: var(--ease--smooth);
		animation-fill-mode: both;
		animation-delay: $start-delay;
	}
	&-letter--s {
		--tX: 7%;
	}
	&-letter--t {
		--tX: 4%;
	}
	&-letter--e {
		--tX: 1.5%;
	}
	&-letter--a {
		--tX: 0;
	}
	&-letter--l {
		--tX: -1.5%;
	}
	&-letter--t2 {
		--tX: -4%;
	}
	&-letter--h {
		--tX: -7%;
	}
}



@keyframes homeLogo_Side_MoveIn {
	0% {
		translate: var(--tX) 0;
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		translate: 0 0;
		opacity: 1;
	}
}


@keyframes homeLogoMoveIn {
	0% {
		opacity: 0;
		translate: 0 var(--yMove);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		translate: 0 0;
	}
}



.our-rods {
	
	&__header-text {
		
		&-svg {
			overflow: visible !important;
		}
		$start-delay: 1.25s;
		
		&--crafted,
		&--to,
		&--your,
		&--cast {
			animation-name: svgHeaderTextMoveIn;
			animation-duration: var(--duration--2x-slow);
			animation-timing-function: var(--ease--smooth);
			animation-fill-mode: both;
			animation-delay: 1s;
		}
		&--crafted {
			animation-delay: $start-delay + .1s;
		}
		&--to {
			animation-delay: $start-delay + .3s;
		}
		&--underline {
			animation-name: svgHeaderUnderlineMoveIn;
			animation-duration: var(--duration--2x-slow);
			animation-timing-function: var(--ease--smooth);
			animation-fill-mode: both;
			animation-delay: $start-delay + .35s;
			transform-origin: left center;
			transform-box: fill-box;
		}
		&--your {
			animation-delay: $start-delay + .5s;
		}
		&--cast {
			animation-delay: $start-delay + .8s;
		}
	}
}







.about__header-text {
	
	$start-delay: 1.25s;
	&--forged,
	&--for,
	&--the,
	&--underline,
	&--fight {
		animation-name: svgHeaderTextMoveIn;
		animation-duration: var(--duration--2x-slow);
		animation-timing-function: var(--ease--smooth);
		animation-fill-mode: both;
		animation-delay: 1s;	
	}
	
	&--underline {
		animation-name: svgHeaderUnderlineMoveIn;
		animation-duration: var(--duration--2x-slow);
		animation-timing-function: var(--ease--smooth);
		animation-fill-mode: both;
		animation-delay: $start-delay + .65s;
		transform-origin: left center;
		transform-box: fill-box;
	}
	
	
	&--forged {
		animation-delay: $start-delay + .1s;
	}
	&--for {
		animation-delay: $start-delay + .3s;
	}
	&--the {
		animation-delay: $start-delay + .5s;
	}
	&--fight {
		animation-delay: $start-delay + .8s;
	}	
}


@keyframes svgHeaderTextMoveIn {
	0% {
		opacity: 0;
		translate: 0 20%;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		translate: 0 0;
	}
}

@keyframes svgHeaderUnderlineMoveIn {
	0% {
		opacity: 0;
		scale: 0 1;
		translate: 0 500%;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		scale: 1 1;
		translate: 0 0;
	}
}


.contact__hero-text {
	animation-name: contactHeroTextIn;
	animation-duration: var(--duration--2x-slow);
	animation-timing-function: var(--ease--smooth);
	animation-fill-mode: both;
	animation-delay: 1s;
	letter-spacing: 0;
}

@keyframes contactHeroTextIn {
	0% {
		letter-spacing: 0.01em;
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		letter-spacing: 0.05em;
		opacity: 1;
	}
}