@use "variables";

// Stealth Rod Co — Webflow CSS entry

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@view-transition {
	navigation: auto;
}

[data-applied-fixed-content-styles="light-on-dark"] {
	--color--fixed-content--primary: white;
}

[data-applied-fixed-content-styles="dark-on-light"] {
	--color--fixed-content--primary: black;
}


// - - - Main Nav - - - 
.main-nav {
	&__btn-line {
		
		rotate: 0deg;
		transform-origin: center center;
		transition: all var(--duration--reg) var(--ease--smooth);
		&--01 {
			translate: 0 -12.5%;
			
			.is-active & {
				rotate: 45deg;
				translate: 0 0;
			}
		}
		&--02 {
			translate: 0 12.5%;
			.is-active & {
				rotate: -45deg;
				translate: 0 0;
			}
		}
	}
	
	
	&__overlay {
		display: block;
		opacity: 0;
		transition: 
			opacity var(--duration--slow) var(--ease--smooth), 
			scale var(--duration--slow) var(--ease--smooth);
		pointer-events: none;
		scale: 1.05;
		
		.is-active & {
			opacity: 1;
			// transition: all var(--duration--slow) var(--ease--smooth);
			scale: 1;
			pointer-events: auto;
		}
	}
}





// - - - Product Cards - - - 
.product-card {
	&__buy-button-holder {
		outline: none;
		max-width: unset !important;
	}
	&__buy-button-holder iframe {
		flex: 1;
		height: 100% !important;
	}
}



:root {
	view-transition-name: root;
}


$mask-url: "https://cdn.prod.website-files.com/69e4eb3f116928f363d5b2bc/69fa0475d7a5558f9fe7915e_water-transtion-sprite.avif";
// $mask-url: "https://cdn.prod.website-files.com/69e4eb3f116928f363d5b2bc/69fa1744c92f745777961b70_water-transtion-sprite.svg";
$water-trans-framecount: 71;
$water-trans-duration: 1s;
// $water-trans-duration: 0.043s;

@media (prefers-reduced-motion: no-preference) {

	::view-transition-old(root) {
		animation-name: vt-water-hide;
		animation-duration: $water-trans-duration;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;
	}

	::view-transition-new(root) {
		animation-name: 
			vt-water-mask-reveal,
			vt-water-reveal-scale;
		animation-duration: 
			$water-trans-duration,
			$water-trans-duration;
		animation-timing-function: 
			steps($water-trans-framecount - 1),
			ease-out;
			
		animation-fill-mode: 
			forwards, 
			forwards
		;
		
		// -webkit-mask-image: url(#{$mask-url});
		mask-image: url(#{$mask-url});
		// -webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		// -webkit-mask-size: ($water-trans-framecount * 100%) 100%;
		mask-size: ($water-trans-framecount * 100%) 100%;
	}
	
	@keyframes vt-water-hide {
		0% {
			scale: 1;
			filter: blur(0px) brightness(100%);
		}
		// 20% {
		// 	filter: blur(0px) brightness(100%);
		// }
		100% {
			scale: 1.15;
			filter: blur(15px) brightness(40%)
		}
	}

	@keyframes vt-water-mask-reveal {
		from {
			mask-position: 100% 0;
		}

		to {
			mask-position: 0% 0;
		}
	}
		
	@keyframes vt-water-reveal-scale {
		0% {
			scale: 1.15;
			filter: blur(15px) brightness(115%);
		}
		40% {
			filter: blur(15px) brightness(115%);
		}
		100% {
			scale: 1;
			filter: blur(0px) brightness(100%);
		}
	}
}
