@use "variables";
@use "main-nav";
@use "utilities";

// Stealth Rod Co — Webflow CSS entry

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.product-card__buy-button-holder {
	outline: none;
	max-width: unset !important;
}

.product-card__buy-button-holder iframe {
	flex: 1;
	height: 100% !important;
}

